# Connection string Neon Serverless Postgres
DATABASE_URL=postgres://user:password@ep-xyz.neon.tech/neondb?sslmode=require

# Clé secrète pour les jetons de session (chaine aléatoire sécurisée)
JWT_SECRET=votre-cle-secrete-session
